@using X.PagedList
@using X.PagedList.Mvc.Core

@model IPagedList<Cloudzy.Models.ViewModels.AdminImport.ListViewModel>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên nhà cung cấp</th>
                <th>SDT</th>
                <th>Ngày nhập</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var import in Model)
            {
                <tr>
                    <td>@import.STT</td>
                    <td>@import.SupplierName</td>
                    <td>@import.PhoneNumber</td>
                    <td>@import.ImportDate</td>
                    <td>
                        <div class="d-flex gap-2">
                            <a href="@Url.Action("Edit", "AdminImport", new { id = import.ImportId })" class="btn btn-warning">Sửa</a>
                            <form asp-action="Delete" asp-controller="AdminImport" method="post" onsubmit="return confirm('Bạn có chắc muốn xóa không?')">
                                <input type="hidden" name="id" value="@import.ImportId" />
                                <button type="submit" class="btn btn-danger">Xóa</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Phân trang bằng AJAX -->
    <div class="text-center d-flex justify-content-center mt-3">
        @Html.PagedListPager(Model, page => "javascript:load(" + page + ")", new PagedListRenderOptions
   {
       LiElementClasses = new[] { "page-item" },
       PageClasses = new[] { "page-link" }
   })
    </div>

</div>