@using X.PagedList
@using X.PagedList.Mvc.Core

@model IPagedList<Cloudzy.Models.ViewModels.AdminDiscountCode.ListViewModel>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã voucher</th>
            <th>Số lượng</th>
            <th>Đã sử dụng</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var discountCode in Model)
        {
            <tr>
                <td>@discountCode.STT</td>
                <td>@discountCode.Code</td>
                <td>@discountCode.Quantity</td>
                <td>@discountCode.UsedQuantity</td>
                <td>@discountCode.StartDate</td>
                <td>@discountCode.EndDate</td>
                <td>
                    <div class="d-flex gap-2">
                        <a href="@Url.Action("Edit", "AdminDiscountCode", new { id = discountCode.DiscountCodeId })" class="btn btn-warning">Sửa</a>
                        <form asp-action="Delete" asp-controller="AdminDiscountCode" method="post" onsubmit="return confirm('Bạn có chắc muốn xóa không?')">
                            <input type="hidden" name="id" value="@discountCode.DiscountCodeId" />
                            <button type="submit" class="btn btn-danger">Xóa</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Phân trang bằng AJAX -->
<div class="text-center d-flex justify-content-center mt-3">
    @Html.PagedListPager(Model, page => "javascript:load(" + page + ")", new PagedListRenderOptions
{
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" }
})
</div>
