@using X.PagedList
@using X.PagedList.Mvc.Core

@model IPagedList<Cloudzy.Models.ViewModels.AdminCategory.CategoryListViewModel>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên danh mục</th>
            <th>Mô tả</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.STT</td>
                <td>@category.CategoryName</td>
                <td>@category.Description</td>
                <td>
                    <a href="@Url.Action("Edit", "AdminCategory", new { id = category.STT })" class="btn btn-warning">Sửa</a>
                    <button class="btn btn-danger delete-user" data-id="@category.STT">Xóa</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Phân trang bằng AJAX -->
<div class="text-center d-flex justify-content-center mt-3">
    @Html.PagedListPager(Model, page => "javascript:loadUsers(" + page + ")", new PagedListRenderOptions
{
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" }
})
</div>
