@using X.PagedList
@using X.PagedList.Mvc.Core

@model IPagedList<Cloudzy.Models.ViewModels.Cart.CartItemListViewModel>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Size</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartItem in Model)
            {
                <tr>
                    <td>@cartItem.STT</td>
                    <td>@cartItem.ProductName</td>
                    <td>@cartItem.SizeName</td>
                    <td>@cartItem.Quantity</td>
                    <td>@cartItem.TotalPrice</td>
                    <td>
                        <div class="d-flex gap-2">
                            <a href="@Url.Action("Edit", "CartItem", new { id = cartItem.CartItemId })" class="btn btn-warning">Sửa</a>
                            <form asp-action="Delete" asp-controller="CartItem" method="post" onsubmit="return confirm('Bạn có chắc muốn xóa không?')">
                                <input type="hidden" name="id" value="@cartItem.CartItemId" />
                                <input type="hidden" name="importId" value="@cartItem.CartId" />
                                <button type="submit" class="btn btn-danger">Xóa</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!-- Phân trang bằng AJAX -->
    <div class="text-center d-flex justify-content-center mt-3">
        @Html.PagedListPager(Model, page => "javascript:load(" + page + ")", new PagedListRenderOptions
   {
       LiElementClasses = new[] { "page-item" },
       PageClasses = new[] { "page-link" }
   })
    </div>
</div>