@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Cloudzy.Models.ViewModels.AdminUser.ListViewModel>

<div class="table-responsive pt-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Email</th>
                <th>Họ tên</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Quyền</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.STT</td>
                    <td>@user.Email</td>
                    <td>@user.Fullname</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Address</td>
                    <td>@user.RoleName</td>
                    <td>
                        <div class="d-flex gap-2">
                            <a href="@Url.Action("Edit", "AdminUser", new { id = user.UserId })" class="btn btn-warning">Sửa</a>
                            <form asp-action="Delete" asp-controller="AdminUser" method="post" onsubmit="return confirm('Bạn có chắc muốn xóa không?')">
                                <input type="hidden" name="id" value="@user.UserId" />
                                <button type="submit" class="btn btn-danger">Xóa</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Phân trang bằng AJAX -->
    <div class="text-center d-flex justify-content-center mt-3">
        @Html.PagedListPager(Model, page => "javascript:load(" + page + ")", new PagedListRenderOptions
   {
       LiElementClasses = new[] { "page-item" },
       PageClasses = new[] { "page-link" }
   })
    </div>

</div>
